body {
    background-color: #2b2b2b;
    font-family: sans-serif;
}

div.content {
    text-align: center;
}

h1 {
    color: white;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: black;
}

.header {
    border-bottom: black 5px solid;
    margin: 25px auto;
}

.item {
    max-width: 100px;
    background-color: ghostwhite;
    border: black 2px solid;
    display: inline;
    padding: 10px;
}